#Data Structure

**1. What are data structures, and why are they important?**

- Data structure is a way of organizing and storing data in a computer so that it can be used efficiently. Data structures are crucial in python as they help in efficiently organizing , storing, and managing data, making it easier to perform  operations such as searching , sorting and manipulation.

**2. Explain the difference between mutable and immutable data types with examples.**
- Data types are categorized as mutable or immutable based on whether their value can be changed after creation.

>   **Mutable Data Types:** Mutable data types can be modified after creation, making it flexible but prone to unintended changes. Examples ( list, dictionaries, sets ).

> **Immutable Data Types:** Immutable data types can not be modified or changed ensuring data integrity.Examples ( tuple, strings, integers ).

**3. What are the main differences between lists and tuples in Python?**
- Lists are mutable , meaning we can change them after creation. Tuples are immutable , meaning once created , they can not be changed.

    >List(Mutable): Created using square brackets- [  ]

    >Tuple(Immutable): Created using parantheses- (  )

**4. Describe how dictionaries store data.**
- A dictionary stores data in key-value pairs, like a real-life dictionary where words(key) have meanings(value).
Uses curly braces- { }, and each keys is unique and maps to a value, dictionaries are very fast because it uses a hashtable internally.

    **Features:**
    >Keys must be unique and immutable.

    >Values can be any data types.

    >Fast lookup because of hashing.

**5. Why might you use a set instead of a list in Python?**
- A set is an unordered collection of unique elements. Unlike lists, sets do not allow duplicate values and provide faster membership testing.

  **Advantages:**
  > Sets automatically remove duplicate values.

  >Sets use hashing, making lookups much faster than lists.

**6. What is a string in Python, and how is it different from a list?**
- A string is a sequence of characters enclosed in quotes. It is immutable meaning it can not be changed after creation.

  **Differences:**
  >Strings are immutable , but lists are mutable.

  >A string only contains characters but a list can hold different types(numbers, string, object).

  >Strings are faster for storing and accessing text, while list are not as fast as strings.

**7. How do tuples ensure data integrity in python?**
- Tuples ensure data integrity because they are immutable meaning their values can not be changed after creation. This prevents accidental modifications ensures consistency in fixed data and makes them safe for use as dictionary keys.

**8. What is a hash table, and how does it relate to dictionaries in python?**
- A hash table is a data structure that stores key-value pairs and finds values quickly using a hash function. When we look up a key, python converts it into a hash to find its location instantly, making searches very fast.

**9. Can list contain different data types in Python?**
- Yes, lists in python can contain different data types. A single list can hold intergers, strings, floats, booleans, other lists and even objects.

**10. Explain why strings are immutable in Python?**
- Strings are immutable in python because they can not changed after creation. If we modify a string python creates a new string instead of changing the original one.

  **Example:**

In [ ]:
s = 'hello'       # This one is the original string.
s = s + ' world'  # it will create a new string.
print(s)          # New string will be printed.

hello world

**11. What advantages do dictionaries offer over list for certain tasks?**
- Dictionaries are better than lists for fast lookups and key-based access, so we dont need to remember positions like in lists. Dictionaries also prevent duplicate keys and work faster for large data.

**12. Describe a scenario where using a tuple would be preferable over a list.**
- A tuple is better than a list when we need data that should not change. If we are storing the days of the week, a tuple is better because the days never changes.

**13. How do sets handle duplicate values in Python?**
- Set use hash table to store elements, When we add a value, python calculates its hash and places it in a unique position. If a duplicate value is sees that it already exists, so it ignores the new one.

**14. How does the "in" keyword work differently for lists and dictionaries?**
- The "in" keyword checks if something exists but it works differently for list and dictionaries.

  >For list, python checks each item one by one , which takes more time if the list is big.

  >For dictionary, it only checks the keys using a hash table, making it much faster.

**15. Can you modify the elements of tuple? Explain why or why not.**
- No ,we can not modify the elements of a tuple because tuples are immutable. This means once a tuple is created, it's elements can not be changed, added, or removed.

  *Why cant we modify it?*
  > Tuples are designed to be unchangeable so that data remains safe and consistent. This also makes them faster since python can optimize their storage.

**16. What is a nested dictionary , and give an example of its use case.**
- A nested dictionary is a dictionary inside another dictionary. it helps store structured data in a hierarchical format.

  **Use case:**
  >A school system can use a nested dictionary to store details of multiple students, where each student has their own dictionary of information.

  **Example:**

In [ ]:
students = {
    "101" : {"name": "Waqar Ahmad Ansari", "Age" : 23},
    "102" : {"name": "Sanju Singh", "Age" : 22},
    "103" : {"name": "Prem Babu Gupta", "Age" : 24}
}

print(students["101"])

**17. Describe the time complexity of accessing elements in a dictionary.**
- Accessing elements in a dictionary by key has an average time complexity of 0(1), meaning it takes constant time, regardless of the dictionary's size.

- 0(1) complexity happens because python uses hashing to quickly find keys in a dictionary. When we search for a key, python first calculates the hash of the key, then uses this hash to jump directly to where the value is stored.

**18. In what situations are list preferred over dictionaries?**
- Lists are preffered over dictionaries in situations where ordering, duplicate or sequential access is important.

  **Example:**
  >A school needs to store student names in the order they registered.

  >students = ["Nikita", "Waqar", "Nikita", "Sanju", "Prem"]

  *Two persons with the same name "Nikita".*

**19. Why are dictionaries considered unordered, and how does that affect data retrieval?**
- Dictionaries were considered unordered because they stored key-value pairs were placed based on their hash value, not in the order they were added.

  >Retrieving keys or values in the same order they were inserted was not possible.

  >Unlike lists, where you access elements by index , dictionary are optimized for fast key-based access 0(1), not position-based retrieval.

**20. Explain the difference between a list and a dictionary in terms of data retrieval.**
- **In a list**, data is stored in an ordered squence, and elements are accessed using their position, known as an index. Retrieving an element by index is fast 0(1), but searching for a specific value takes longer 0(n) because python checks each item one by one.

  **Example:**

  >my_list = ["Apple", "Banana", "Cherry"]

  Accessing my_list[1] quickly returns "Banana", but if we need to find "cherry" python must scan the entire list until it finds the value.


- **In a dictionary**, data is stored as key-value pairs, where each key is unique and mapped to a value. Unlike lists, dictionaries allow quick lookups using keys instead of indexes, making them much faster 0(1) for retrieving data.

  **Example:**
  >my_dict = {"fruit1" : "Apple", "fruit2" : "Banana"}

  Accessing my_dict["fruit2"] instantly returns "Banana" without needing to check every item.



---



---

#Practical Questions

**1. Write a code to create a string with your name and print it.**

In [ ]:
name = "Waqar Ahmad Ansari"
print(name)

Waqar Ahmad Ansari

**2. Write a code to find the length of the string "Hello World".**

In [ ]:
string = "Hello World"
print(len(string))

11

**3. Write a code to slice the first 3 characters from the string "Python Programming".**

In [ ]:
string = "Python Programming"
print(string[:3]) # Here i left the starting and put 3 on the end to just slic the 1st 3 characters

Pyt

**4. Write a code to convert the string "hello" to uppercase.**

In [ ]:
string = "hello"
print(string.upper()) #Simply used the .upper() to uppercase the string

HELLO

**5. Write a code to replace the word "apple" with "orange" in the string "I like apple".**

In [ ]:
word = "apple"
print(word.replace("apple", "orange"))  #Here i used the .replace(the data i want to change, with the data)

orange

**6. Write a code to create a list with numbers 1 to 5 and print it.**

In [41]:
my_list = []

for i in range(6):  #Here i ran a for loop to iterate 5 times.
  if i == 0:
    continue        #i skiped the 0 with the continue keyword.
  else:
    my_list.append(i)  #Added the range of numbers in the empty list

print(my_list)

[1, 2, 3, 4, 5]

**7. Write a code to append the number 10 to the list [1, 2, 3, 4].**

In [ ]:
my_list = [1, 2, 3, 4]
my_list.append(10)

print(my_list)

[1, 2, 3, 4, 10]

**8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

In [40]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)

print(my_list)

[1, 2, 4, 5]

**9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].**

In [39]:
my_list = ["a", "b", "c", "d"]
print(my_list[1])

b

**10. Write a code to reverse the list [10, 20, 30, 40, 50].**

In [37]:
list_provided = [10, 20, 30, 40, 50]

reversed_list = list_provided[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

**11. Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [35]:
#creating a tuple
my_tuple = (100, 200, 300)

#printing the tuple
print(my_tuple)

(100, 200, 300)

**12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [34]:
my_tuple = ("red", "green", "blue", "yellow")
my_tuple[1:]

('green', 'blue', 'yellow')

**13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [32]:
my_tuple = (10, 20, 5, 15)

smallest_number = my_tuple[0]  # here i assumed the 1st letter is the smallest

for num in my_tuple:           # Here i looked through the tuple
  if num < smallest_number: # Here im comparing the interation number to the variable samallest_number to find if the num is less than the saved smallest_number.
    smallest_number = num   # if you num is less than the smallest_number then i simply assinging the smallest_number = num

print("Smallest Number: ", smallest_number)

Smallest Number:  5

**14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
my_tuple.index("cat")  # Here i simply used the .index() to find the index number the Cat.

1

**15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [ ]:
fruits = ("Apple", "Banana", "Kiwi")

if "Kiwi" in fruits:            #Just used membership operator to find the whether it has to "Kiwi" in the tuple or not.
  print("Kiwi is available")
else:
  print("Dont have kiwi")

Kiwi is available

**16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [31]:
set1 = {"a", "b", "c"}
print(set1)

# it is printing the elements in onordered way because of the nature of sets.
# So i have to use sorted() to print it Alphabetically but it will convert the set into a list.

{'b', 'c', 'a'}

**17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [17]:
set1 = {1, 2, 3, 4, 5}

#here im using clear() to empty the set.
set1.clear()

print(set1)

set()

**18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [16]:
set1 = {1, 2, 3, 4}

set1.remove(4)
print(set1)

{1, 2, 3}

**19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [ ]:
# we can do this using union() and using |

set1 = {1, 2, 3}
set2 = {3, 4, 5}

combined_set = set1 | set2  #This combines the set1 and set2 removing 3 because sets cannot have duplicates
print(combined_set )

{1, 2, 3, 4, 5}

**20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1 & set2  # This will only contain the values which both sets have.
print(intersection_set)

{2, 3}

**21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [15]:
dict1 = {
    "name" : "waqar ahmad ansari",
    "age" : 23,
    "city" : "Dhekiajuli, Assam"
}

print(dict1)

{'name': 'waqar ahmad ansari', 'age': 23, 'city': 'Dhekiajuli, Assam'}

**22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [14]:
my_dictionary =  {
    'name': 'John', 'age': 25, 'country' : "USA"
    }

print(my_dictionary)

{'name': 'John', 'age': 25, 'country': 'USA'}

**23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [13]:
my_dictionary = {'name': 'Alice', 'age': 30}

print(my_dictionary["name"]) # Here i simply target the key to get its value.

Alice

**24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [12]:
my_dictionary = {'name': 'Bob', 'age': 22, 'city': 'New York'}

my_dictionary.pop("age")  # Here i removed the age details using pop function.
print(my_dictionary)

{'name': 'Bob', 'city': 'New York'}

**25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [11]:
my_dictionary = {'name': 'Alice', 'city': 'Paris'}

if "city" in my_dictionary:
  print("Yes the dictionary have it")
else:
  print("Dont have it")

Yes the dictionary have it

**26. Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [53]:
my_list = ["Waqar", "Prem", "Sanju"]
my_tuple = ("Monday", "Tuesday", "Wednesday")
my_dict = {

    "List" : "List are mutable",
    "Tuple" : "Tuples are immutable",
    "Dictionary" : "Dictionaries are mutable"

    }


print(f"List: {my_list} \nTuple: {my_tuple} \nDictionary: {my_dict}")

List: ['Waqar', 'Prem', 'Sanju']
Tuple: ('Monday', 'Tuesday', 'Wednesday')
Dictionary: {'List': 'List are mutable', 'Tuple': 'Tuples are immutable', 'Dictionary': 'Dictionaries are mutable'}

**27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)**

In [47]:
random_numbers = [23, 45, 65, 76, 21]
random_numbers.sort()

print(random_numbers)

[21, 23, 45, 65, 76]

**28. Write a code to create a list with strings and print the element at the third index.**

In [48]:
my_str = "Waqar"
print(my_str[2])

q

**29. Write a code to combine two dictionaries into one and print the result.**

In [50]:
dict1 = {"name": "waqar", "age": 23}
dict2 = {"Nationality": "Indian", "Address": "Assam"}

combined_dict = dict1 | dict2
print(combined_dict)

{'name': 'waqar', 'age': 23, 'Nationality': 'Indian', 'Address': 'Assam'}

**30. Write a code to convert a list of strings into a set.**

In [52]:
my_list = ["Waqar", "Ahmad", "Ansari"]

my_set = set(my_list)

print(my_set)

{'Ahmad', 'Ansari', 'Waqar'}



---



---